<div class="home-section-text" >Notificações</div>
<div class="info">
  <mat-card class="mat-elevation-z4" *ngFor="let request of requests"  >

    <mat-card-content>

      <div class="" style="display:flex; justify-content: space-between;"><p><b>Objetivo:</b> {{request.type}}</p>  <p *ngIf="!isSecretariado(request.author.email)"> <b class="status-{{classNameSatus(request.status)}}">{{request.status}}</b></p> </div>
      <p><b>Tipo de sala:</b> {{haveEquipment(request.haveEquipment)}}</p>
      <p><b>Dia:</b> {{request.requestStartDate.slice(0,10)}} <b style="margin-left: 20px;">Horário:</b> {{request.requestStartDate.slice(11,16)}} - {{request.requestFinishDate.slice(11,16)}}</p>
      <p><b>Autor:</b> {{request.author.name}} ({{ request.author.email }})</p><br>
      <p>{{request.description}}</p>

    </mat-card-content>

    <mat-card-actions style="margin-left: 20px;">
      <button mat-icon-button (click)="onAccept(request)" *ngIf="isSecretariado(request.author.email)" matTooltip="Aprovar">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="updateStatus(request.id)" *ngIf="statusRecusado(request.status)" matTooltip="Recusar">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
