<h1 class="popup-title" mat-dialog-title>{{ title }}</h1>
<p class="popup-subtitle">{{ subtitle }}</p>
<mat-divider [ngClass]="'dividor'"></mat-divider>

<div mat-dialog-content>

  <p><b>Sala de Aula:</b> {{classroom}}</p>

  <p> <b>Ano letivo:</b> {{schoolClassYear}}</p>
  <p><b>Semestre:</b> {{curricularUnitSemestre}}</p>
  <p><b>Ects:</b> {{curricularUnitEcts}}</p>
  <p>{{time}}</p>
  <p>{{days}}</p>


<div mat-dialog-actions class="input-group">
  <button mat-raised-button [ngClass]="'create-button'" color="accent" (click)="onNoClick()">Fechar</button>
  <button mat-raised-button [ngClass]="'create-button'" color="warn" cdkFocusInitial (click)="onDelete()">Eliminar</button>
  <button mat-raised-button [ngClass]="'create-button'" color="primary" cdkFocusInitial (click)="onEdit()">Editar</button>
</div>

</div>
