<h1 class="popup-title" mat-dialog-title>{{ title }}</h1>
<mat-divider [ngClass]="'dividor'"></mat-divider>

<div class="input-group">
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Unidade Curricular</mat-label>
      <mat-select [formControl]="ucControl">
        <mat-option value="UC1">UC1</mat-option>
        <mat-option value="UC2">UC2</mat-option>
        <mat-option value="UC3">UC3</mat-option>
        <mat-option value="UC4">UC4</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Tipologia de aula</mat-label>
      <mat-select [formControl]="typeControl">
        <mat-option value="Prática">Prática</mat-option>
        <mat-option value="Teórica">Teórica</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="input-group">
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Sala de Aula</mat-label>
      <mat-select [formControl]="classroomControl">
        <mat-option value="B1.2">B1.2</mat-option>
        <mat-option value="B2.3">B2.3</mat-option>
        <mat-option value="C4.8">C4.8</mat-option>
        <mat-option value="A1.3">A1.3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Docente</mat-label>
      <mat-select [formControl]="teacherControl">
        <mat-option value="João Pavia">João Pavia</mat-option>
        <mat-option value="João Carvalho">João Carvalho</mat-option>
        <mat-option value="Lúcio Studer">Lúcio Studer</mat-option>
        <mat-option value="Pedro Alves">Pedro Alves</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<div class="input-group">
  <div class="input-box">
    <mat-label>Hora Inicial</mat-label>
    <input class="mat-input-element" type="text" placeholder="Nome">

  </div>
  <div class="input-box">
    <mat-label>Hora Final</mat-label>
    <mat-form-field appearance="fill">
      <input matInput type="time" [(ngModel)]="end" name="end" [formControl]="endControl" required>
    </mat-form-field>
  </div>
</div>






<div mat-dialog-actions class="input-group">
  <button mat-raised-button [ngClass]="'create-button'" color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button [ngClass]="'create-button'" cdkFocusInitial>Criar</button>
</div>