<h1 class="popup-title" mat-dialog-title>{{ title }}</h1>
<mat-divider [ngClass]="'dividor'"></mat-divider>

<div mat-dialog-content>
<div class="input-group">
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Unidade Curricular</mat-label>
      <mat-select [formControl]="ucControl"  (selectionChange)="ucTeacher()" >
        <div *ngFor="let uc of ucs">
          <mat-option value={{uc.name}}>{{uc.name}}</mat-option>
        </div>


      </mat-select>
    </mat-form-field>
  </div>
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Tipologia de aula</mat-label>
      <mat-select [formControl]="typeControl">
        <mat-option value="pratica">Prática</mat-option>
        <mat-option value="teorica">Teórica</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="input-group">
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Sala de Aula</mat-label>
      <mat-select [formControl]="classroomControl">
        <div *ngFor="let classroom of classroomsName">
          <mat-option value={{classroom}}>{{classroom}}</mat-option>
        </div>

      </mat-select>
    </mat-form-field>
  </div>
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Docente</mat-label>
      <mat-select [formControl]="teacherControl">
        <div *ngFor="let teacher of teachers">
          <mat-option value={{teacher.id}}>{{teacher.name}}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="input-group">
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Data Inicial</mat-label>
      <input matInput [matDatepicker]="picker1" [formControl]="startDateControl">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="input-box">
    <mat-form-field appearance="fill">
      <mat-label>Data Final</mat-label>
      <input matInput [matDatepicker]="picker2" [formControl]="endDateControl">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
</div>



       <div class="input-group">
        <div class="input-box">
          <mat-form-field appearance="fill">
            <mat-label>Hora Inicial</mat-label>
            <input matInput type="time" name="start" [formControl]="startTimeControl" required>
          </mat-form-field>
        </div>
        <div class="input-box">
          <mat-form-field appearance="fill">
            <mat-label>Hora Final</mat-label>
              <input matInput type="time" name="end" [formControl]="endTimeControl" required>
          </mat-form-field>
        </div>
      </div>
<!--
<div class="input-group">
  <div class="input-box">
    <mat-label>Hora Inicial</mat-label>
    <input class="mat-input-element" type="text" placeholder="Nome">

  </div>
  <div class="input-box">
    <mat-label>Hora Final</mat-label>
    <mat-form-field appearance="fill">
      <input matInput type="time" [(ngModel)]="end" name="end" [formControl]="endControl" required>
    </mat-form-field>
  </div>
</div>
-->





<div mat-dialog-actions class="input-group">
  <button mat-raised-button [ngClass]="'create-button'" color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button [ngClass]="'create-button'" cdkFocusInitial (click)="onSubmit()">Criar</button>
</div>
</div>
