.filter-button{
    width: auto;
    margin-right: 20px;
}

.searchSection{
    padding: 20px;
}

button{
    margin-left: 10px;
}

.filter{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
