<h1 class="popup-title" mat-dialog-title>{{ title }}</h1>
<mat-divider [ngClass]="'dividor'"></mat-divider>

<div mat-dialog-content>
<div class="input-group">
  <div class="input-box">
    <mat-form-field  appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Ex. Engenharia Informática" [formControl]="nameControl">
    </mat-form-field>

  </div>
  <div class="input-box">
    <mat-form-field  appearance="fill">
      <mat-label>Acrónimo</mat-label>
      <input matInput placeholder="Ex. LEI" type="email" [formControl]="acronymControl">
    </mat-form-field>
  </div>
</div>
<div class="input-group">
  <div class="input-box">

    <mat-form-field appearance="fill">
      <mat-label>Ciclo de estudo</mat-label>
      <mat-select [formControl]="cicleControl">
        <!--<div *ngFor="let tipologia of tipologiaUc">
          <mat-option value={{tipologia}}>{{tipologia}}</mat-option>
        </div>-->
        <mat-option value="1">Licenciatura</mat-option>
        <mat-option value="2">Mestrado</mat-option>
        <mat-option value="3">Doutoramento</mat-option>

      </mat-select>
    </mat-form-field>
  </div>
  <div class="input-box">



  </div>
</div>



<!--
<div class="input-group">
  <div class="input-box">
    <mat-label>Hora Inicial</mat-label>
    <input class="mat-input-element" type="text" placeholder="Nome">

  </div>
  <div class="input-box">
    <mat-label>Hora Final</mat-label>
    <mat-form-field appearance="fill">
      <input matInput type="time" [(ngModel)]="end" name="end" [formControl]="endControl" required>
    </mat-form-field>
  </div>
</div>
-->





<div mat-dialog-actions class="input-group">
  <button mat-raised-button [ngClass]="'create-button'" color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button [ngClass]="'create-button'" cdkFocusInitial (click)="onSubmit()">Editar</button>
</div>
</div>
