<!--<div class="geral-section">
  <header>
      <img src="../../../assets/images/dashboard/img_avatar.png" alt="Avatar">
      <div class="perfil">
        <p *ngIf="user != null"><b>{{user.name}}</b></p>
        <p>{{numero}}</p>
        <span class="logout-button" routerLink="/login">Logout</span>
      </div>
    </header>
    <nav>
      <img src="../../../assets/images/dashboard/logo_ulht.png" alt="" width="100" height="100">
      <div class="menu">
      <div><a routerLink="/request">Requisitar Sala</a></div>
      <div *ngIf="privilegios"><a routerLink="/dashboard/schedules">Agendamentos</a></div>
      <div><a routerLink="/dashboard/timetable">Horário</a></div>
      <div><a routerLink="/dashboard/notification">Notificações</a></div>
      <div><a routerLink="/login">Logout</a></div>
      </div>
      <footer>
         <p>Copyright © ULHT Control Panel 2022. All rights reserved by ULHT</p>
      </footer>
   </nav>
   <section class="info">
     <router-outlet></router-outlet>
   </section>
</div>-->
<!---->
<div class="sidebar open">
  <div class="logo-details">
    <img class="icon" src="../../../assets/images/dashboard/logo_ulht.png" alt="" width="30" height="30">
      <div class="logo_name">Control Panel</div>
      <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li>
      <a class="menu" href="#">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
       <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a class="menu" routerLink="/request">
       <i class='bx bx-receipt'></i>       
       <span class="links_name">Requisitar Sala</span>
      </a>
      <span class="tooltip">Requisitar Sala</span>
    </li>
    <li>
      <a class="menu" routerLink="/dashboard/schedules">
       <i class='bx bxs-calendar-plus'></i>
        <span class="links_name">Agendamentos</span>
      </a>
      <span class="tooltip">Agendamentos</span>
    </li>
    <li>
      <a class="menu" routerLink="/dashboard/timetable">
       <i class='bx bxs-calendar'></i>       
       <span class="links_name">Horário</span>
      </a>
      <span class="tooltip">Horário</span>
    </li>
    <li>
      <a class="menu" routerLink="/dashboard/notification">
        <i class='bx bx-chat' ></i>
        <span class="links_name">Notificações</span>
      </a>
      <span class="tooltip">Notificações</span>
    </li>
    <li>
     <a class="menu" href="#">
       <i class='bx bx-user' ></i>
       <span class="links_name">Users</span>
     </a>
     <span class="tooltip">User</span>
   </li>
   
   <!--
   <li>
     <a class="menu" href="#">
       <i class='bx bx-folder' ></i>
       <span class="links_name">File Manager</span>
     </a>
     <span class="tooltip">Files</span>
   </li>
  -->
   
   <li>
     <a class="menu" href="#">
       <i class='bx bx-cog' ></i>
       <span class="links_name">Setting</span>
     </a>
     <span class="tooltip">Setting</span>
   </li>
   <li class="profile">
       <div class="profile-details">
         <!--<img src="profile.jpg" alt="profileImg">-->
         <div class="name_job">
           <div class="name">{{user.name}}</div>
           <div class="job">{{numero}}</div>
         </div>
       </div>
      <a routerLink="/" (click)="logout()"><i class='bx bx-log-out' id="log_out" ></i></a>
   </li>
  </ul>
</div>
<section class="home-section">
    
      <router-outlet></router-outlet>

</section>

