<div class="sidebar open">
  <div class="logo-details">
    <img class="icon" src="../../../assets/images/dashboard/logo_ulht.png" alt="" width="30" height="30">
      <div class="logo_name">Control Panel</div>
      <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li>
      <a class="menu" href="/dashboard/#">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
       <span class="tooltip">Dashboard</span>
    </li>

    <li>
      <a class="menu" routerLink="/dashboard/schedules" >
       <i class='bx bxs-calendar-plus'></i>
        <span class="links_name" *ngIf="isSecretariado()">Agendamentos</span>
        <span class="links_name" *ngIf="!isSecretariado()">Horário</span>

      </a>
      <span class="tooltip">Agendamentos</span>
    </li>

    <li>
      <a class="menu" routerLink="/dashboard/ClassroomRequests">
       <i class='bx bx-receipt'></i>
       <span class="links_name">Requisitar Sala</span>
      </a>
      <span class="tooltip">Requisitar Sala</span>
    </li>
    <li>
      <a class="menu" routerLink="/dashboard/notifications">
        <i class='bx bx-chat' ></i>
        <span class="links_name">Notificações</span>
      </a>
      <span class="tooltip">Notificações</span>
    </li>


   <li>
     <a class="menu" href="/dashboard/#">
       <i class='bx bx-cog' ></i>
       <span class="links_name">Setting</span>
     </a>
     <span class="tooltip">Setting</span>
   </li>
   <li>
    <a class="menu" href="/dashboard/admin" *ngIf="isSecretariado()">
      <i class='bx bx-folder' ></i>
      <span class="links_name">Administração</span>
    </a>
    <span class="tooltip">Administração</span>
  </li>
   <li class="profile">
       <div class="profile-details">
         <!--<img src="profile.jpg" alt="profileImg">-->
         <div class="name_job">
           <div class="name">{{user.name}}</div>
           <div class="job">{{numero}}</div>
         </div>
       </div>
      <a routerLink="/" (click)="logout()"><i class='bx bx-log-out' id="log_out" ></i></a>
   </li>
  </ul>
</div>
<section class="home-section">

      <router-outlet></router-outlet>

</section>

