<!--<h2 style="position: absolute; top: -50px; left: 50px; font-size: 20px;">Agendamentos</h2>-->
<div class="home-section-text" *ngIf="showFilters() && naoAluno()">Agendamentos</div>
<div class="home-section-text" *ngIf="!(showFilters() && naoAluno())">Horário</div>


<div class="filters"  *ngIf="showFilters() && naoAluno()">

    <mat-form-field appearance="fill">
      <mat-label>Curso</mat-label>

      <mat-select [(ngModel)]="selectedCourse" (selectionChange)="courseSelected()">
        <mat-option *ngFor="let curso of cursos" [value]="curso">
          {{curso}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ano</mat-label>
      <mat-select [(ngModel)]="selectedYear" (selectionChange)="yearSelected()">
        <mat-option *ngFor="let ano of anos" [value]="ano">
          {{ano}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Turma</mat-label>
      <mat-select [(ngModel)]="selectedSchoolClass">
        <mat-option *ngFor="let turma of turmas" [value]="turma">
          {{turma}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-fab matTooltip="Filtrar" aria-label="Filtrar" color="grey" (click)="searchTimeSchedules()">
      <mat-icon>filter_alt</mat-icon>
    </button>
    <button *ngIf="clear" mat-fab matTooltip="Limpar filtros" aria-label="Limpar filtros" color="grey" (click)="cleanFilters()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Exportar excel" aria-label="Exportar excel" (click)="exportXLSX()" *ngIf="secretariado()">
      <mat-icon>file_present</mat-icon>
    </button>
</div>

<div class='calendario info'>
  <div class='calendario-main'>
    <full-calendar
      *ngIf='calendarVisible'
      [options]='calendarOptions'
    ></full-calendar>

  </div>

</div>
