<section class="general-section-request">

  <div class="container">
      <div class="form-image">

          <script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>
  <!--<lord-icon src="https://cdn.lordicon.com/jefnhaqh.json" trigger="hover" colors="outline:#121331,primary:#10497e,secondary:#646e78,tertiary:#ebe6ef" style="width:850px;height:850px"> </lord-icon>-->
      </div>
      <div class="form">
          <form action="">
              <div class="form-header">
                  <div class="title">
                      <h1>Requisitar Sala</h1>
                  </div>
              </div>

              <div class="input-group">
                  <div class="input-box">
                      <label for="horaInicial">Hora Inicial</label>
                      <input [(ngModel)]="requestClassroom.requestStartDate" id="horaInicial" type="datetime-local" name="datetime" placeholder="Digite a data pretendida" required>
                  </div>
                  <div class="input-box">
                    <label for="horaFinal">Hora Final</label>
                    <input [(ngModel)]="requestClassroom.requestFinishDate" id="horaFinal" type="datetime-local" name="datetime" placeholder="Digite a data pretendida" required>
                </div>
                  <div class="input-box">
                    <label for="equipamentos">Sala com equipamentos?</label>
                    <select [(ngModel)]="haveEquipment" name="equipamentos" id="equipamentos">
                      <option value="False">Não</option>
                      <option value="True">Sim</option>
                    </select>
                </div>
              </div>


              <div class="continue-button">
                  <div class="input-box">
                      <label for="motivos_requisicao">Motivos de requisição</label>
                      <textarea [(ngModel)]="requestClassroom.description" id="motivos_requisicao" name="motivos_requisicao"  required> </textarea>
                  </div>
                  <button (click)="sendRequest()" pButton>Enviar</button>
              </div>
          </form>
      </div>
  </div>

  </section>
